<h1 class="floating_imgs_h1">Floating images - V2</h1>

<button (click)="addRandomImg()" (click)="deselectBtn()" class="btn btn-primary give_me_some_space img_control_btn"><span class="font_weight_bold">✚</span> Add image</button>
<button (click)="popImg()" (click)="deselectBtn()" class="btn btn-danger give_me_some_space img_control_btn"><span class="font_weight_bold">✖</span> Remove image</button>

<div #resizableDivSecond id="floating_img_container_resizable_second" class="floating_img_container_second box_shadow ui-widget-content row" [style.min-width]="minWidth + 'px'" [style.min-height]="minHeight + 'px'">
  <div *ngFor="let image of images; let name; let i = index;" class="floating_img_container_cell_second" [style.width]="containerCellWidth + '%'">
    <img class="floating_img" src="assets/img/floating_imgs/{{ image }}" alt="Dummy image &quot;{{ name }}&quot;, position no.: {{ i + 1 }}. Taken from Google Material">
  </div>
  <span class="floating_img_container_handle_info bump_to_left no_xs no_select">resizable - </span><span class="floating_img_container_handle_info no_select">drag the edges</span>
</div>
