<div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageControlArrows]="false">
  <div class="section fp-section fp-table section1">
    <div class="fp-tableCell">
      <float-img></float-img>
    </div>
  </div>
  <div class="section fp-section fp-table section2">
    <div class="fp-tableCell">
      <float-img-second></float-img-second>
    </div>
  </div>
  <div class="section fp-section fp-table section3">
    <div class="fp-tableCell">
      <fill-images></fill-images>
    </div>
  </div>
</div>

