<h1 class="filling_imgs_h1">Filling images</h1>
<p class="filling_imgs_p font_style_italic">only for big screens (> 768px)</p>

<div class="col-xs-12 col-sm-3">
  <button (click)="addImg('lena.jpg')" (click)="deselectBtn()" class="btn btn-success col-xs-6 col-sm-6 filling_imgs_btns go_to_the_right_bro"><span class="font_weight_bold">✚</span> Add <span class="font_style_italic">lena</span> (256 x 256)</button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="removeImg('lena.jpg')" (click)="deselectBtn()" class="btn btn-danger col-xs-6 col-sm-6 filling_imgs_btns"><span class="font_weight_bold">✖</span> Remove <span class="font_style_italic">lena</span></button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="orderByFileSize()" (click)="deselectBtn()" class="btn btn-primary col-xs-6 col-sm-6 filling_imgs_btns">Order by <span class="font_style_italic">file size</span></button>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-3">
  <button (click)="addImg('kenny.png')" (click)="deselectBtn()" class="btn btn-success col-xs-6 col-sm-6 filling_imgs_btns go_to_the_right_bro"><span class="font_weight_bold">✚</span> Add <span class="font_style_italic">kenny</span> (128 x 128)</button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="removeImg('kenny.png')" (click)="deselectBtn()" class="btn btn-danger col-xs-6 col-sm-6 filling_imgs_btns"><span class="font_weight_bold">✖</span> Remove <span class="font_style_italic">kenny</span></button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="orderByImgArea()" (click)="deselectBtn()" class="btn btn-primary col-xs-6 col-sm-6 filling_imgs_btns">Order by <span class="font_style_italic">image area</span></button>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-3">
  <button (click)="addImg('cartman.png')" (click)="deselectBtn()" class="btn btn-success col-xs-6 col-sm-6 filling_imgs_btns go_to_the_right_bro"><span class="font_weight_bold">✚</span> Add <span class="font_style_italic">cartman</span> (300 x 275)</button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="removeImg('cartman.png')" (click)="deselectBtn()" class="btn btn-danger col-xs-6 col-sm-6 filling_imgs_btns"><span class="font_weight_bold">✖</span> Remove <span class="font_style_italic">cartman</span></button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="takeSmallestHeight()" (click)="deselectBtn()" class="btn btn-primary col-xs-6 col-sm-6 filling_imgs_btns">Container height: <span class="font_style_italic">shortest image</span></button>
</div>
<div class="clearfix"></div>
<div class="col-xs-12 col-sm-3">
  <button (click)="addImg('tall.jpg')" (click)="deselectBtn()" class="btn btn-success col-xs-6 col-sm-6 filling_imgs_btns go_to_the_right_bro"><span class="font_weight_bold">✚</span> Add <span class="font_style_italic">tall</span> (426 x 631)</button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="removeImg('tall.jpg')" (click)="deselectBtn()" class="btn btn-danger col-xs-6 col-sm-6 filling_imgs_btns"><span class="font_weight_bold">✖</span> Remove <span class="font_style_italic">tall</span></button>
</div>
<div class="col-xs-12 col-sm-3">
  <button (click)="takeBiggestHeight()" (click)="deselectBtn()" class="btn btn-primary col-xs-6 col-sm-6 filling_imgs_btns">Container height: <span class="font_style_italic">tallest image</span></button>
</div>
<div class="clearfix"></div>


<div #horizontalResizableDiv id="filling_img_container_resizable" class="filling_img_container box_shadow ui-widget-content row" [style.min-width]="minWidth + 'px'" [style.min-height]="minHeight + 'px'">
  <div *ngFor="let image of images; let name; let i = index;" class="filling_img_container_cell">
    <img id="filling_img_{{ i  }}" class="filling_img" src="'data:image/jpeg;base64,' + {{ image }}" alt="Dummy image &quot;{{ name }}&quot;, position no.: {{ i + 1 }}">
  </div>
</div>